[Desktop Entry]
Type=Application
Name=Open Opal
Comment=Opal C1 camera controls
Exec=@VENV@/bin/open-opal
Icon=camera-web
Categories=AudioVideo;Video;Settings;
Terminal=false
